---
import type { Page } from '@athena/shared/payload-types'
import type { SerializedEditorState } from '@payloadcms/richtext-lexical/lexical'

import CMSLink from '@/components/CMSLink.astro'
import Media from '@/components/Media.astro'
import RichText from '@/components/RichText.astro'

type Props = Page['hero']

const { links, media, richText } = Astro.props
---

<div
  class="relative -mt-[10.4rem] flex items-center justify-center text-white"
  data-theme="dark"
>
  <div class="container mb-8 z-10 relative flex items-center justify-center">
    <div class="max-w-[36.5rem] md:text-center">
      {richText && (
        <RichText class="mb-6" data={richText as unknown as SerializedEditorState} enableGutter={false} />
      )}
      {
        Array.isArray(links) && links.length > 0 && (
          <ul class="flex md:justify-center gap-4">
            {links.map(({ link }) => (
              <li>
                <CMSLink {...link} />
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </div>
  <div class="min-h-[80vh] select-none relative w-full">
    {media && typeof media === 'object' && (
      <Media fill imgClass="-z-10 object-cover" loading="eager" resource={media} />
    )}
  </div>
</div>
