---
import Card, { type CardPostData } from '@/components/Card.astro'

type Props = {
  posts: CardPostData[]
  class?: string
}

const { posts, class: className } = Astro.props
---

<div class:list={['container', className]}>
  <div>
    <div class="grid grid-cols-4 sm:grid-cols-8 lg:grid-cols-12 gap-y-4 gap-x-4 lg:gap-y-8 lg:gap-x-8 xl:gap-x-8">
      {
        posts?.map((post) => {
          if (typeof post !== 'object' || post === null) return null
          return (
            <div class="col-span-4">
              <Card class="h-full" doc={post} relationTo="posts" showCategories />
            </div>
          )
        })
      }
    </div>
  </div>
</div>
