---
import type { Post } from '@athena/shared/payload-types'

import Card from '@/components/Card.astro'

type Props = {
  docs?: Post[]
  class?: string
}

const { docs, class: className } = Astro.props
---

<div class:list={['lg:container', className]}>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 items-stretch">
    {docs?.map((doc) => typeof doc === 'object' && <Card doc={doc} relationTo="posts" showCategories />)}
  </div>
</div>
